:root {
	--content-side-padding: 0 5rem 0 5rem;
}

html,
body {
	max-width: 100vw;
	height: 100%;
}

body {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.mantine-Alert-root {
	width: 50%;
	margin: auto;
}