:root {
	--content-side-padding: 0 10% 0 10%;
}

html,
body,
#app {
	max-width: 100vw;
	height: 100%;
}

body {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media only screen and (max-width: 1000px) {
	:root {
		--content-side-padding: 0 1rem 0 1rem;
	}
}
