name: Publish (release)

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  STAGE: release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        id: build
        uses: ./.github/actions/build
        with:
          stage: ${{ env.STAGE }}
  deploy:
    needs: [build]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/deploy
        name: Deploy
        with:
          artifact-ids: ${{ steps.build.outputs.artifact-id }}
          workspace-path: ${{ vars.WORKSPACE_PATH }}
